<section class="ftco-section ftco-counter" id="download">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate fadeInUp ftco-animated">
                <h2>{{i18n "download.title"}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-4 d-flex justify-content-center counter-wrap">
                <div class="block-18 text-center">
                    <div class="text">
                        <button id="windowsDownloadButton"
                            class="btn btn-primary btn-outline-white mb-md-3 px-4 py-3 cloud-download dropdown-toggle"
                            type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong class="number"> <i class="fa fa-windows"></i> Windows </strong>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="windowsDownloadButton">
                            <a 
                            onclick="_paq.push(['trackEvent', 'Download', 'Windows (MS Store)', 'Windows (MS Store)', 'Windows (MS Store)']); setTimeout(function() { window.location.href = '/support' }, 1000)"
                            class="dropdown-item" href="https://www.microsoft.com/store/apps/9PD83XFV86J4" target="_blank"><img
                                    src="/images/microsoft_store.svg" width="24" class="mr-1"></img> {{i18n "download.windows_download_store"}}</a>
                            <div class="dropdown-divider"></div>
                            <a 
                            onclick="_paq.push(['trackEvent', 'Download', 'Windows', 'Windows', 'Windows']); setTimeout(function() { window.location.href = '/support' }, 1000)"
                            class="dropdown-item"
                                href="https://github.com/Lumieducation/Lumi/releases/download/v{{release}}/Lumi-Setup-{{release}}.exe">
                                <i class="fa fa-file" style="font-size:20px; margin-right:10px;" aria-hidden="true"></i>
                                {{i18n "download.window_download_installer"}}</a>
                            <p class="dropdown-item-text"><a
                                    href="https://www.pcworld.com/article/3197443/how-to-get-past-windows-defender-smartscreen-in-windows-10.html">
                                    {{i18n "download.bypass_smartscreen"}}</a> 
                            <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 d-flex justify-content-center counter-wrap">
                <div class="block-18 text-center">
                    <div class="text">
                        <a
                        onclick="_paq.push(['trackEvent', 'Download', 'macOS', 'macOS', 'macOS']); setTimeout(function() { window.location.href = '/support' }, 1000)"
                        href="https://github.com/Lumieducation/Lumi/releases/download/v{{release}}/Lumi-{{release}}.dmg"
                            class="btn btn-primary btn-outline-white mb-md-3 px-4 py-3 cloud-download">
                            <strong class="number"><i class="fa fa-apple"></i> macOS</strong></a>
                    </div>
                </div>
            </div>
            <div class=" col-md-12 col-lg-4 d-flex justify-content-center counter-wrap">
                <div class="block-18 text-center">
                    <div class="text">
                        <button id="linuxDownloadButton"
                            class="btn btn-primary btn-outline-white px-4 py-3 cloud-download dropdown-toggle"
                            type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong class="number"><i class="fa fa-linux"></i> Linux</strong>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="linuxDownloadButton">
                            <a 
                             onclick="_paq.push(['trackEvent', 'Download', 'Linux (SnapStore)', 'Linux (AppImage)', 'Linux (SnapStore)']); setTimeout(function() { window.location.href = '/support' }, 1000)"
                            target="_blank" class="dropdown-item" href="https://snapcraft.io/lumi">{{i18n "download.download"}} Snap Store</a>
                            <div class="dropdown-divider"></div>
                            <a
                            onclick="_paq.push(['trackEvent', 'Download', 'Linux (AppImage)', 'Linux (AppImage)', 'Linux (AppImage)']); setTimeout(function() { window.location.href = '/support' }, 1000)"
                             class="dropdown-item"
                                href="https://github.com/Lumieducation/Lumi/releases/download/v{{release}}/Lumi-{{release}}.AppImage">
                                {{i18n "download.download"}} AppImage</a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
