<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="./"><div class="logo"></div> Lumi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> {{i18n "navigation.menu"}}
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="./" class="nav-link">{{i18n "navigation.home"}}</a>
                </li>
                <li class="nav-item">
                    <a href="/support" class="nav-link">{{i18n "navigation.support"}}</a>
                </li>
                <li class="nav-item">
                    <a href="/#newsletter" class="nav-link">{{i18n "navigation.newsletter"}}</a>
                </li>
                <li class="nav-item">
                    <a href="/#download" class="nav-link">{{i18n "navigation.download"}}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" id="languageMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{currentLanguage}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageMenuLink"
                     style="max-height:30rem; overflow-y: scroll;">
                        <a class="dropdown-item" href="/en">English</a>
                        <div class="dropdown-divider"></div>
                        {{#each languages}}
                        <a class="dropdown-item" href="/{{this.code}}">{{this.native}}</a>
                        {{/each}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>