<section id="thanks" class="ftco-section ftco-degree-bg">
    <div class="container">
        {{!-- <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
                <h2>{{i18n "support.thanks.platinum"}}</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
                <h2>{{i18n "support.thanks.gold"}}</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
                <h2>{{i18n "support.thanks.silver"}}</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
                <h2>{{i18n "support.thanks.bronze"}}</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
                <h2>{{i18n "support.thanks.generousBackers"}}</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
                <h2>{{i18n "support.thanks.backers"}}</h2>
            </div>
        </div> --}}
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
                <h2>{{i18n "support.thanks.supporters"}}</h2>
                <a target="_blank" href="http://jrdingwall.ca">JR Dingwall</a> <br />
                <a target="_blank" href="https://www.patreon.com/user/creators?u=3296202">Jochen Petzinger</a> <br />
                <a target="_blank" href="https://www.olivertacke.de">Oliver Tacke</a> <br />
                <a target="_blank" href="https://www.evoltas.de/">eVoltas GmbH</a> <br />
                <a target="_blank" href="https://www.ulrichivens.de">Ulrich Ivens, IvensTraining ulrichivens.de</a> <br />
                <a target="_blank" href="https://twitter.com/Frau_Kosch">Frauke</a> <br />
                Christian Schett
            </div>
        </div>
    </div>
</section>