{{> navigation}}

<section class="home-slider ftco-degree-bg">
    <div class="slider-item bread-wrap"
        style="background-image: url(&quot;/images/xbg_1.jpg.pagespeed.ic.zMFIB0fnpX.webp&quot;); background-position: 50% 415.5px;"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-10 col-sm-12 ftco-animate mb-4 text-center fadeInUp ftco-animated">

                    <h1 class="mb-3">{{{i18n "appPlayerPrivacyPolicy.title"}}}</h1>

                        {{#if languageHasNoManualTranslation}}
                            <p>{{i18n "disclaimer.languageDisclaimerPrivacyPolicy"}}</p>
                        {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-3">{{{i18n "appPlayerPrivacyPolicy.title"}}}</h2>
                <p>{{{i18n "appPlayerPrivacyPolicy.definitions"}}}
                </p>
                <p>
                    {{{i18n "appPlayerPrivacyPolicy.scope"}}}
                </p>
                <p>
                    {{{i18n "appPlayerPrivacyPolicy.warningGPL"}}}
                </p>
                <h2 class="mb-3 mt-5">{{{i18n "appPlayerPrivacyPolicy.controllerHeading"}}}</h2>
                <p>
                    {{{i18n "appPlayerPrivacyPolicy.controllerText"}}}
                </p>
                <h2 class="mb-3 mt-5">{{{i18n "appPlayerPrivacyPolicy.dataHeading"}}}</h2>
                <p>
                    {{{i18n "appPlayerPrivacyPolicy.dataText"}}}
                </p>
                <table>
                    <thead>
                        <tr>{{{i18n "appPlayerPrivacyPolicy.dataTable.header"}}}</tr>
                    </thead>
                    <tbody>
                        <tr>{{{i18n "appPlayerPrivacyPolicy.dataTable.row1"}}}</tr>
                        <tr>{{{i18n "appPlayerPrivacyPolicy.dataTable.row2"}}}</tr>
                        <tr>{{{i18n "appPlayerPrivacyPolicy.dataTable.row3"}}}</tr>
                        <tr>{{{i18n "appPlayerPrivacyPolicy.dataTable.row4"}}}</tr>
                        <tr>{{{i18n "appPlayerPrivacyPolicy.dataTable.row5"}}}</tr>
                        <tr>{{{i18n "appPlayerPrivacyPolicy.dataTable.row6"}}}</tr>
                        <tr>{{{i18n "appPlayerPrivacyPolicy.dataTable.row7"}}}</tr>
                        <tr>{{{i18n "appPlayerPrivacyPolicy.dataTable.row8"}}}</tr>
                    </tbody>
                </table>

                <h2 class="mb-3 mt-5">{{{i18n "appPlayerPrivacyPolicy.basisHeading"}}} </h2>
                <p>
                    {{{i18n "appPlayerPrivacyPolicy.basisText"}}}
                </p>
                <h2 class="mb-3 mt-5">{{{i18n "appPlayerPrivacyPolicy.usageHeading"}}}
                </h2>
                <p>{{{i18n "appPlayerPrivacyPolicy.usageText"}}}
                </p>

                <h2 class="mb-3 mt-5">{{{i18n "appPlayerPrivacyPolicy.storageHeading"}}}</h2>

                <p>{{{i18n "appPlayerPrivacyPolicy.storageText.sentence1"}}}</p>
                <p>{{{i18n "appPlayerPrivacyPolicy.storageText.sentence2"}}}</p>
                <p>{{{i18n "appPlayerPrivacyPolicy.storageText.sentence3"}}}</p>
                </p>
                <h2 class="mb-3 mt-5">{{{i18n "appPlayerPrivacyPolicy.rightsHeading"}}}</h2>
                <p>{{{i18n "appPlayerPrivacyPolicy.rightsText"}}}
                <ul>
                    <li><b>{{{i18n "appPlayerPrivacyPolicy.rightsList.r1"}}}</b></li>
                    <li>{{{i18n "appPlayerPrivacyPolicy.rightsList.r2"}}}</li>
                    <li>{{{i18n "appPlayerPrivacyPolicy.rightsList.r3"}}}</li>
                    <li>{{{i18n "appPlayerPrivacyPolicy.rightsList.r4"}}}</li>
                    <li>{{{i18n "appPlayerPrivacyPolicy.rightsList.r5"}}}</li>
                    <li>{{{i18n "appPlayerPrivacyPolicy.rightsList.r6"}}}</li>
                </ul>
                <p>{{{i18n "appPlayerPrivacyPolicy.rightsContact"}}}</p>
                </p>

                <h2 class="mb-3 mt-5">{{{i18n "appPlayerPrivacyPolicy.otherSitesHeading"}}}</h2>
                <p>{{{i18n "appPlayerPrivacyPolicy.otherSitesText"}}}</p>
                <h2 class="mb-3 mt-5">{{{i18n "appPlayerPrivacyPolicy.changesHeading"}}}</h2>
                <p>{{{i18n "appPlayerPrivacyPolicy.changesText"}}}
                </p>
                <h2 class="mb-3 mt-5">{{{i18n "appPlayerPrivacyPolicy.contactHeading"}}}</h2>
                <p>{{{i18n "appPlayerPrivacyPolicy.contactText"}}}</p>
                </p>
                <h2 class="mb-3 mt-5">{{{i18n "appPlayerPrivacyPolicy.authorityHeading"}}}</h2>
                <p>{{{i18n "appPlayerPrivacyPolicy.authorityText"}}}
                </p>
                <br /><br /><br />
            </div>
        </div>
    </div>
</section>
{{> footer}}