{{> navigation}}

<section class="home-slider ftco-degree-bg">
    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-10 ftco-animate text-center">
                    <h1 class="mb-4">
                        {{i18n "mission.make_learning"}}
                        <strong class="typewrite" data-period="4000"
                            data-type='[ "{{i18n "mission.accessible"}}", "{{i18n "mission.individual"}}", "{{i18n "mission.exciting"}}" ]'>
                            <span class="wrap"></span>
                        </strong>
                    </h1>
                    <p>
                        {{i18n "home.welcome"}}
                    </p>
                    <p>
                        <a href="#download" class="btn btn-primary btn-outline-white px-4 py-3 cloud-download">
                            <i class="fa fa-download"> </i> {{i18n "home.get_started"}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END slider -->

<section class="ftco-section-featured ftco-animate">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel owl-carousel">
                    <div class="item">
                        <img src="/images/screenshot1.png" class="img-fluid" alt="" />
                    </div>
                    <div class="item">
                        <img src="/images/screenshot2.png" class="img-fluid" alt="" />
                    </div>
                    <div class="item">
                        <img src="/images/screenshot3.jpg" class="img-fluid" alt="" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{> features}}

{{> download}}
{{> social}}


{{> footer}}