{{> navigation}}

<section class="home-slider ftco-degree-bg">
    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-10 ftco-animate text-center">
                    <h1 class="mb-4">
                        {{i18n "support.header"}}
                    </h1>
                    <p>
                        {{i18n "support.description"}}
                    </p>
                    <p></p>
                    <p>
                        <a target="_blank" href="https://www.paypal.com/donate?hosted_button_id=RGP9MBG2GMWC6" class="btn btn-lg btn-primary btn-outline-white px-4 py-3 cloud-download">
                            <i class="fa fa-paypal"> </i> {{i18n "support.donateVia"}} PayPal</a>

                        <a target="_blank" href="https://www.patreon.com/Lumieducation" class="btn btn-lg btn-primary btn-outline-white px-4 py-3 cloud-download">
                            <i class="fab fa-patreon"> </i> {{i18n "support.donateVia"}} Patreon</a>
                        <a href="https://github.com/sponsors/JPSchellenberg" class="btn btn-lg btn-primary btn-outline-white px-4 py-3 cloud-download">
                            <i class="fa fa-github"> </i> {{i18n "support.donateVia"}} GitHub</a>
                    </p>
                       {{!-- <ul class="list-inline list-social">
                         <li class="list-inline-item">
                             <a href="https://www.paypal.com/donate?hosted_button_id=RGP9MBG2GMWC6">
                                 <i class="fa fa-paypal"></i>
                             </a>
                         </li>
                         <li class="list-inline-item">
                             <a href="https://www.patreon.com/Lumieducation">
                                 <i class="fab fa-patreon"></i>
                             </a>
                         </li>
                         <li class="list-inline-item">
                             <a href="https://github.com/sponsors/JPSchellenberg" target="_blank ">
                                 <i class="fa fa-github"></i>
                             </a>
                         </li>
                     </ul> --}}
                    <p>                        
                        <a href="#thanks" class="btn btn-primary btn-outline-white px-4 py-3 cloud-download">
                            <i class="fa fa-donate"> </i> {{i18n "support.seeSupporters"}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END slider -->
{{> whatWeDo}}
{{> thanks}}
{{> social}}


{{> footer}}