{{> navigation}}

<section class="home-slider ftco-degree-bg">
    <div class="slider-item bread-wrap"
        style="background-image: url(&quot;/images/xbg_1.jpg.pagespeed.ic.zMFIB0fnpX.webp&quot;); background-position: 50% 415.5px;"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-10 col-sm-12 ftco-animate mb-4 text-center fadeInUp ftco-animated">

                    <h1 class="mb-3">{{{i18n "appPrivacyPolicy.title"}}}</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">   
            <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-3">{{{i18n "appPrivacyPolicy.title"}}}</h2>
                <p>{{{i18n "appPrivacyPolicy.definitions"}}}
                </p>
                <p>
                    {{{i18n "appPrivacyPolicy.scope"}}}
                </p>
                <p>
                    {{{i18n "appPrivacyPolicy.warningGPL"}}}
                </p>
                <h2 class="mb-3 mt-5">{{{i18n "appPrivacyPolicy.controllerHeading"}}}</h2>
                <p>
                    {{{i18n "appPrivacyPolicy.controllerText"}}}
                </p>
                <h2 class="mb-3 mt-5">{{{i18n "appPrivacyPolicy.dataHeading"}}}</h2>
                <p>
                    {{{i18n "appPrivacyPolicy.dataText"}}}
                </p>
                <table>
                    <thead>
                        <tr>{{{i18n "appPrivacyPolicy.dataTable.header"}}}</tr>
                    </thead>
                    <tbody>
                        <tr>{{{i18n "appPrivacyPolicy.dataTable.row1"}}}</tr>
                        <tr>{{{i18n "appPrivacyPolicy.dataTable.row2"}}}</tr>
                        <tr>{{{i18n "appPrivacyPolicy.dataTable.row3"}}}</tr>
                        <tr>{{{i18n "appPrivacyPolicy.dataTable.row4"}}}</tr>
                        <tr>{{{i18n "appPrivacyPolicy.dataTable.row5"}}}</tr>
                        <tr>{{{i18n "appPrivacyPolicy.dataTable.row6"}}}</tr>
                        <tr>{{{i18n "appPrivacyPolicy.dataTable.row7"}}}</tr>
                        <tr>{{{i18n "appPrivacyPolicy.dataTable.row8"}}}</tr>
                        <tr>{{{i18n "appPrivacyPolicy.dataTable.row9"}}}</tr>
                        <tr>{{{i18n "appPrivacyPolicy.dataTable.row10"}}}</tr>
                    </tbody>
                </table>

                <h2 class="mb-3 mt-5">{{{i18n "appPrivacyPolicy.basisHeading"}}} </h2>
                <p>
                    {{{i18n "appPrivacyPolicy.basisText"}}}
                </p>
                <h2 class="mb-3 mt-5">{{{i18n "appPrivacyPolicy.usageHeading"}}}
                </h2>
                <p>{{{i18n "appPrivacyPolicy.usageText"}}}
                </p>

                <h2 class="mb-3 mt-5">{{{i18n "appPrivacyPolicy.storageHeading"}}}</h2>

                <p>{{{i18n "appPrivacyPolicy.storageText.sentence1"}}}</p>
                <p>{{{i18n "appPrivacyPolicy.storageText.sentence2"}}}</p>
                <p>{{{i18n "appPrivacyPolicy.storageText.sentence3"}}}</p>
                </p>
                <h2 class="mb-3 mt-5">{{{i18n "appPrivacyPolicy.rightsHeading"}}}</h2>
                <p>{{{i18n "appPrivacyPolicy.rightsText"}}}
                <ul>
                    <li><b>{{{i18n "appPrivacyPolicy.rightsList.r1"}}}</b></li>
                    <li>{{{i18n "appPrivacyPolicy.rightsList.r2"}}}</li>
                    <li>{{{i18n "appPrivacyPolicy.rightsList.r3"}}}</li>
                    <li>{{{i18n "appPrivacyPolicy.rightsList.r4"}}}</li>
                    <li>{{{i18n "appPrivacyPolicy.rightsList.r5"}}}</li>
                    <li>{{{i18n "appPrivacyPolicy.rightsList.r6"}}}</li>
                </ul>
                <p>{{{i18n "appPrivacyPolicy.rightsContact"}}}</p>
                </p>

                <h2 class="mb-3 mt-5">{{{i18n "appPrivacyPolicy.otherSitesHeading"}}}</h2>
                <p>{{{i18n "appPrivacyPolicy.otherSitesText"}}}</p>
                <h2 class="mb-3 mt-5">{{{i18n "appPrivacyPolicy.changesHeading"}}}</h2>
                <p>{{{i18n "appPrivacyPolicy.changesText"}}}
                </p>
                <h2 class="mb-3 mt-5">{{{i18n "appPrivacyPolicy.contactHeading"}}}</h2>
                <p>{{{i18n "appPrivacyPolicy.contactText"}}}</p>
                </p>
                <h2 class="mb-3 mt-5">{{{i18n "appPrivacyPolicy.authorityHeading"}}}</h2>
                <p>{{{i18n "appPrivacyPolicy.authorityText"}}}
                </p>
            </div>
        </div>
    </div>
</section>
{{> footer}}